body {
    font-family: sans-serif;
    line-height: 2;

    background-color: antiquewhite;
    color: black;

    width: 1000px;
}

h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

main > section > h2 {
    text-align: right;
    font-size: 10px;
}